{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>atualizar</title>
    <link rel="stylesheet" href="{%static 'minhaapp/css/style.css'%}">
</head>
<body>
    <h1>Atualizar filme - {{filme.titulo}}</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/cadastro/">Cadastro</a>
        <a href="/lista/">Lista</a>
    </nav>

    <form method="POST">
        {% csrf_token %}
        <p>
            <label>Titulo do Filme:</label>
            <input type="text" name="titulo" required value="{{filme.titulo}}">
        </p>
        <p>
            <label>Comentario:</label>
            <textarea name="comentario" rows="4">{{filme.comentario}}</textarea>
        </p>
        <p>
            <label>Nota:</label>
            <select name="nota" id="nota">
                <option >1</option>
                <option >2</option>
                <option >3</option>
                <option >4</option>
                <option >5</option>
            </select>
        </p>
        <p>
            <label>URL da Imagem:</label>
            <input type="url" name="imagem_url"required value="{{filme.imagem_url}}">
        </p>
        <button type="submit">Atualizar</button>
    </form>
  
    
</body>
</html>